.collapseQues {
    background-color: #9F96E4;
    width: 80%;
    border-radius: 3px;
    padding-top: 8px !important;
}

.results {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center
}